{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        body{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items:center;
            text-align: center;
            height: 100vh;
            width: 100vw;            
        }
    </style>
</head>
<body class="p-6 bg-gray-500 text-white ">

<h1 class="text-3xl font-bold mb-4">Your Cart</h1>

<div id="cart-items" class="space-y-3">
    <!-- Cart items will be rendered here by JS -->
</div>

<div class="mt-4">
    <strong>Total: ₹<span id="cart-total">0.00</span></strong>
</div>

<script src="{% static 'tesstapp/cart.js' %}"></script>
</body>
</html>
